* {/* Reset CSS. */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}

:root{
    --success-color:green;
    --failure-color:red;
    --neutral-color:grey;
    --bg-color: antiquewhite;
}

body{
    background-color:var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 100%;
}

.calendar-wrapper {
    max-width: 100%;
    font: 100% system-ui;  
}


#left-arrow{
    width: 10px;
    
}
#right-arrow{
    width: 10px;

}

#calendar-header{
    display: flex;
    justify-content: center;
    align-items: center;
}


.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.day{    
    background-color: var(--neutral-color);
    color: white;
    outline: none;
    border: none;
    padding: 10px;
}


.day-name {
    background: #eee;
}


ol {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
li {
    padding: 9px;
}

