* {/* Reset CSS. */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}

:root{
    font-size: clamp(0.1rem, 0.1rem + 3.5vw, 1rem);

    --success-color:rgba(0, 212, 8, 0.7);
    --failure-color:rgba(255, 0, 0, 0.6);

    --bg-color: #D8E7CC;
    --calendar-bg-color: white;
    --number-color: rgb(47, 54, 46);
    --number-color-transparent: rgb(47, 54, 46, 0.5);
}

.dark{
    --bg-color: #1B1B1B;
    --calendar-bg-color: #2C3330;
    --number-color: rgb(242, 255, 240);
    --number-color-transparent: rgb(242, 255, 240, 0.5);
}

body{
    color: var(--number-color);
    background-color:var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    margin-top:    10vh;
    margin-bottom: 10vh;
    
}

#succes-percentage{
    display: flex;
    align-items: baseline;
    font-family: 'Lato', sans-serif;
    margin-bottom: 0.2rem;
    
}

#succes-percentage-number{
    text-shadow: 0px 0px 0.625rem rgba(0, 0, 0, 0.18);
    font-size: 4.5rem;
}
#succes-percentage-symbol{
    font-size: 1.875rem;
}

#calendar-wrapper {
    max-width: 100%;
    background-color: var(--calendar-bg-color); 
    box-shadow: 0rem 0rem 2rem 0.25rem rgba(0, 0, 0, 0.09);
    border-radius: 3.8%;
}

button{
    background-color: transparent;
    border-color: transparent;
}
button:hover{
    background-color: rgba(0, 0, 0, 0.15);
}
.bttn-svg{
    
    width: 1.625rem; 
    opacity: 0.8;
}


#calendar-header{ /* left/right arrow navigation and month name */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;

    justify-content: space-between;
    padding: 1.25rem;
}

#succes-percentage{
    font-family: 'Lato', sans-serif;
}

#month-name{
    font-size: 1.56rem;
}

.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 0.187rem;
    margin: 0 2.75rem;
}

.day{  
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Lato', sans-serif;
    font-size: 1.125rem;
    width: 2.375rem;
    height: 2.375rem;
    background-color: transparent;
    border: 0.08rem;
  
    border-radius: 100%;
    padding: 0.645rem;
    
}



.day-of-week{/* Su Mo Tu We Th Fr Sa*/
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 0.75rem;
    list-style: none;
    text-align: center;
    opacity: 0.3;
}




#calendar-footer{/* trash can and dark mode bttns */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.25rem;
}